<div class="card-container">
  <mat-card class="about-card">
    <mat-card-header class="card-header">
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle
        >ourProbes - Network Capabilities Explorer</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/images/appLogo.jpg"
      alt="Example application image"
      class="appLogoImg"
    />
    <mat-card-content>
      <p>
        This application manages the devices and probes in the outProbes system.
        As well it provides insights into the data collected by the probes.
      </p>
      <p><b>Version: </b> 2.2</p>
      <p>
        <b>Repository: </b>
        <a href="https://github.com/somervda/ourProbes"
          >https://github.com/somervda/ourProbes</a
        >
      </p>
      <p>
        <b>Contact: </b>
        <a href="mailto:david.a.somerville@outlook.com"
          >david.a.somerville@outlook.com</a
        >
      </p>
      <p>
        <b>By Lupincorp: </b>
        <a href="https://lupincorp.com" target="_blank"
          >https://lupincorp.com<img
            src="../../assets/images/lupincorp.png"
            style="height: 24px;margin-left:24px"
          />
        </a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
