table {
  width: 100%;
}

.mat-column-name {
  white-space: nowrap;
  padding-right: 5px;
}

.mat-column-type {
  width: 20%;
  padding-right: 5px;
}

.mat-column-target {
  width: 80%;
  padding-right: 5px;
}
