.chart-holder {
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 1px;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 300px;
}

mat-radio-button {
  margin-right: 20px;
}

td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}

.notes {
  font-size: xx-small;
}
