<div class="page-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Overview
        </mat-panel-title>
        <mat-panel-description>
          {{ getTypeName(selectedType) }} *
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="half-width"
        ><mat-label>Filter by Device or Probe</mat-label>
        <select matNativeControl (change)="onFilterChange($event)">
          <option
            *ngFor="let filter of availableFilters; let i = index"
            [value]="i"
            [selected]="i == selectedFilterIndex"
            [disabled]="filter.value == '-1'"
            >{{ filter.name }}</option
          >
        </select>
      </mat-form-field>

      <mat-form-field class="half-width"
        ><mat-label>Measurement Type</mat-label>
        <select matNativeControl (change)="onTypeChange($event)">
          <option
            *ngFor="let type of availableTypes"
            [value]="type.value"
            [selected]="type.value == selectedType"
            >{{ type.name }}</option
          >
        </select>
      </mat-form-field>

      <table>
        <tr>
          <td>Measurement</td>

          <td>
            <mat-radio-group
              aria-label="Measurement"
              (change)="onMeasurementChange($event)"
            >
              <mat-radio-button
                value="value"
                [checked]="selectedMeasurement == 'value'"
                >Value</mat-radio-button
              >
              <mat-radio-button
                value="count"
                [checked]="selectedMeasurement == 'count'"
                >Count</mat-radio-button
              >
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <td>Color Scheme</td>
          <td>
            <mat-checkbox
              (change)="onSchemeChange($event)"
              [checked]="selectedScheme == '5Color'"
              >2 Color/5 Color
            </mat-checkbox>
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="chart-holder" [style.height]="chartHeight">
    <ngx-charts-heat-map
      *ngIf="showChart"
      [scheme]="selectedScheme == '2Color' ? colorScheme2 : colorScheme5"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="chartData"
      (select)="onSelect($event)"
    >
    </ngx-charts-heat-map>
  </div>
</div>
<div class="notes">
  * Measurements collected from the devices in the past hour. Based on the
  selected measurement, either latest value or total count of measurements are
  shown for each device and probe.
</div>
