<app-subheading title="Data Analysis" matIcon="bar_chart"></app-subheading>
<div class="page-container">
  <mat-tab-group>
    <mat-tab label="Overview">
      <ng-template matTabContent>
        <app-daover></app-daover>
      </ng-template>
    </mat-tab>
    <mat-tab label="Trends">
      <ng-template matTabContent>
        <app-datrends></app-datrends>
      </ng-template>
    </mat-tab>
    <mat-tab label="Extract">
      <ng-template matTabContent>
        Extract selected data both measurements or measurement summaries. De
        normalize probe and device info.
        <app-daextract></app-daextract>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
