<app-subheading title="Data Analysis" matIcon="bar_chart"></app-subheading>
<div class="page-container">
  <mat-tab-group>
    <mat-tab label="Extract">
      <ng-template matTabContent>
        Content 1 - Loaded:
      </ng-template>
    </mat-tab>
    <mat-tab label="Trends">
      <ng-template matTabContent>
        <app-datrends></app-datrends>
      </ng-template>
    </mat-tab>
    <mat-tab label="Comparisons">
      <ng-template matTabContent>
        Content 3 - Loaded:
      </ng-template>
    </mat-tab>
    <mat-tab label="Overview">
      <ng-template matTabContent>
        Content 4 - Loaded:
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
