.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 300px;
}

.chart-holder {
  min-height: 400px;
  width: 100%;
  margin-top: 10px;
}

td {
  vertical-align: top;
}
