<app-subheading
  [title]="'Update: ' + device.id"
  *ngIf="crudAction == Crud.Update"
></app-subheading>
<app-subheading
  title="Create New Device"
  *ngIf="crudAction == Crud.Create"
></app-subheading>
<app-subheading
  [title]="'Delete: ' + device.id"
  *ngIf="crudAction == Crud.Delete"
></app-subheading>
<div class="page-container">
  <form class="standard-form" [formGroup]="deviceForm">
    <mat-form-field class="full-width">
      <input
        matInput
        formControlName="id"
        (change)="onFieldUpdate('id')"
        placeholder="Device Id"
        required
      />
      <mat-error *ngIf="deviceForm.controls['id'].hasError('required')">
        Device id is required.
      </mat-error>
      <mat-error *ngIf="deviceForm.controls['id'].hasError('minlength')">
        Device id must be at least 3 characters long.
      </mat-error>
      <mat-error *ngIf="deviceForm.controls['id'].hasError('maxlength')">
        Device id must be no more than 12 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        matInput
        formControlName="description"
        (change)="onFieldUpdate('description')"
        matAutosizeMinRows="3"
        matAutosizeMaxRows="10"
        matTextareaAutosize
        placeholder="Device Description"
        required
      ></textarea>
      <mat-error
        *ngIf="deviceForm.controls['description'].hasError('required')"
      >
        Description is required.
      </mat-error>
      <mat-error
        *ngIf="deviceForm.controls['description'].hasError('minlength')"
      >
        Description must be at least 20 characters long.
      </mat-error>
      <mat-error
        *ngIf="deviceForm.controls['description'].hasError('maxlength')"
      >
        Description must be no more than 200 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-label>Type</mat-label>
      <mat-select
        formControlName="type"
        (selectionChange)="onFieldUpdate('type')"
      >
        <mat-option *ngFor="let item of types" [value]="item.key">
          {{ item.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="deviceForm.controls['type'].hasError('required')">
        A type must be selected.
      </mat-error>
      <mat-hint>The type of device.</mat-hint>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-label>Communication</mat-label>
      <mat-checkbox
        formControlName="communication"
        (change)="onFieldUpdate('communication')"
        >Allow?</mat-checkbox
      >
    </mat-form-field>
    <br />
    <a href="https://www.latlong.net/" target="_blank">Find Lat/lng</a>
    <br />

    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Create"
      [disabled]="!deviceForm.valid"
      (click)="onCreate()"
      id="btnCreate"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == Crud.Delete"
      (click)="onDelete()"
      id="btnDelete"
    >
      <mat-icon>clear</mat-icon>
      Delete
    </button>
  </form>
</div>
