<mat-sidenav-container>
  <!-- add this to the mat-sidebar tag to have menu auto close (click)="sidenav.toggle()" -->
  <mat-sidenav #sidenav (click)="sidenav.toggle()" class="no-print">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span id="mainMenuHome">Home</span>
      </a>

      <!-- Logged in options -->
      <span *ngIf="auth.loggedIn$ | async">
        <a mat-list-item routerLink="devices">
          <mat-icon>developer_board</mat-icon>
          <span id="mainMenuDevices">Devices</span>
        </a>
        <a mat-list-item routerLink="probes">
          <mat-icon>network_check</mat-icon>
          <span id="mainMenuProbes">Probes</span>
        </a>
        <a mat-list-item routerLink="dataanalysis">
          <mat-icon>bar_chart</mat-icon>
          <span id="mainMenuDataVis">Data Analysis</span>
        </a>
        <mat-divider></mat-divider>
      </span>

      <!-- Logged in and activated options -->
      <span
        *ngIf="(auth.loggedIn$ | async) && (auth.user$ | async)?.isActivated"
      >
        <!-- User functions , if we have too many then add a navigation page  -->
        <a
          mat-list-item
          [routerLink]="['user/', (auth.user$ | async)?.uid || '']"
        >
          <mat-icon>person</mat-icon>
          <span id="mainMenuMyProfile">My Profile</span>
        </a>

        <!-- Administrator Functions -->
        <a
          mat-list-item
          *ngIf="(auth.user$ | async)?.isAdmin"
          mat-list-item
          routerLink="/users"
        >
          <mat-icon>how_to_reg</mat-icon>
          <span id="mainMenuAdministration">User Management</span>
        </a>
      </span>
      <a mat-list-item routerLink="help">
        <i class="material-icons-outlined"> help_outline </i>&nbsp;
        <span id="mainMenuHelp">Help</span>
      </a>
      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span id="mainMenuAbout">About</span>
      </a>

      <!-- Not logged in -->
      <span *ngIf="!(auth.loggedIn$ | async)">
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="login">
          <mat-icon>account_circle</mat-icon>
          <span id="mainMenuLogin">Login</span>
        </a>
      </span>
      <span *ngIf="auth.loggedIn$ | async">
        <a mat-list-item routerLink="logout" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span id="mainMenuLogout">Logout</span>
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="no-print">
    <button
      mat-icon-button
      class="noOutline"
      (click)="sidenav.open('mouse')"
      id="mainMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="filler"></div>
    <div *ngIf="!isConnected" style="margin-right: 20px">
      <mat-chip-list>
        <mat-chip
          class="offline-indicator"
          title="Application is offline and will have more limited functionality."
        >
          Offline
        </mat-chip>
      </mat-chip-list>
    </div>
    ourProbes &nbsp;
    <ng-container *ngIf="auth.user$ | async as user">
      <img
        *ngIf="user.isActivated"
        class="user-avatar"
        [src]="user.photoURL"
        [matTooltip]="user.displayName"
      />
      <img
        *ngIf="!user.isActivated"
        class="user-avatar"
        src="../../assets/images/Block_user_pic.png"
        matTooltip="You are not activated, contact an administrator to have your account activated to use this system."
      />
    </ng-container>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
