<div class="page-container">
  <app-subheading title="User Profile" matIcon="how_to_reg"></app-subheading>
  <!-- Use an array of keyValuePairs to display most of the user properties -->
  <table>
    <tr *ngFor="let kvp of kvps">
      <td>
        <b>{{ kvp.key }}</b>
      </td>
      <td>{{ kvp.value }}</td>
    </tr>
    <tr>
      <td>
        <b>Photo</b>
      </td>
      <td><img src="{{ user.photoURL }}" height="48px" /></td>
    </tr>
    <ng-container *ngIf="updatableProfile">
      <tr>
        <td>
          <b>Is&nbsp;Administrator?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isAdmin"
            (click)="updateIsAdmin()"
          ></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <b>Is&nbsp;Activated?</b>
        </td>
        <td>
          <mat-checkbox
            [(ngModel)]="user.isActivated"
            (click)="updateIsActivated()"
          ></mat-checkbox>
        </td>
      </tr>
    </ng-container>

    <tr>
      <td>
        <b>Location</b>
      </td>
      <td>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Edit Location Details
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td>
                  <b>Latitude</b>
                </td>
                <td>
                  <input
                    matInput
                    [(ngModel)]="user.latitude"
                    (change)="updateLatitude()"
                    placeholder="0"
                    type="number"
                    min="-90"
                    max="90"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <b>Longitude</b>
                </td>
                <td>
                  <input
                    matInput
                    [(ngModel)]="user.longitude"
                    (change)="updateLongitude()"
                    placeholder="0"
                    type="number"
                    min="-180"
                    max="180"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <app-simplemap
                    [latitude]="user.latitude"
                    [longitude]="user.longitude"
                    (mapClick)="latLngChange($event)"
                  ></app-simplemap>
                </td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </tr>
  </table>
</div>
