/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@import "~firebaseui/dist/firebaseui.css";

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat.core();

// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink);

$primary: mat.define-palette(mat.$blue-grey-palette);
$accent: mat.define-palette(mat.$deep-orange-palette);

// Define a theme.
// $primary: mat-palette($mat-teal, 800);
// $accent: mat-palette($mat-deep-orange);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);

body {
  background-color: rgb(166, 185, 181);
}

.page-container {
  margin: 10px;
}
