<app-subheading title="Device List" matIcon="developer_board"></app-subheading>
<div class="page-container">
  <button
    mat-raised-button
    routerLink="/device/create"
    style="float:right;margin-bottom: 10px;"
  >
    <i class="material-icons-outlined"> developer_board </i>&nbsp;
    <span>Create New Device</span>
  </button>
  <br />

  <table mat-table [dataSource]="devices$ | async" class="mat-elevation-z8">
    <ng-container matColumnDef="id" sticky>
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let device">
        <a routerLink="/device/{{ device.id }}">{{ device.id }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let device">
        {{
          device.description.length < 100
            ? device.description
            : device.description.substring(0, 99) + "..."
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="communication">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="deleteRow" *matCellDef="let device">
        <mat-icon
          matTooltip="Delete Device"
          [routerLink]="['/device/delete/', device.id]"
          >clear</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
